body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  font-family: 'Dongle', sans-serif;
  font-size: 40px;

}

.App {
  color: darkslategray;

}

.App > h1 {
  margin: auto;
  text-align: center;

}

.start--div {
  margin: auto;
  text-align: center;
  color: darkslategray;
}

.start--button {
  background-color: #4CAF50; 
  color:darkslategray; 
  font-size: 30px;
  font-style: bold;
  font-family: 'Dongle', sans-serif;
  border: 2px solid black;
  border-radius: 4px;
  width: 150px;
  padding: 20px;
}


.start--button:hover {
  background-color: aqua;
  color: #4CAF50;
}

.questionary {
  color: darkslategray;
  text-align: center;

}

.questionary  > h1 {
  padding: 20px;
}

.questionary  > h2 {
  padding: 20px;
  font-size: 10px;
}

.answer--face {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 4px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.answer--text {
  margin: 0 10px;

}

.questions--main {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 20px;
}



.questions--third {
  display: inline-flex;
  width: auto;
}

.check--button {
  background-color: #4CAF50; 
  color:darkslategray; 
  font-size: 30px;
  font-style: bold;
  font-family: 'Dongle', sans-serif;
  border: 2px solid black;
  border-radius: 4px;
  width: 200px;
  padding: 20px;
  margin: 50px;
}


.check--button:hover {
  background-color: aqua;
  color: #4CAF50;
}

.score--counter {
  color: limegreen;
}

